<!DOCTYPE html>
<html>
<head>
	<title>HAPPY BIRTHDAY</title>
	<link href="https://fonts.googleapis.com/css?family=Parisienne&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<style>
	body{
		font-family: 'Indie Flower', cursive;
		font-size : 24px !important;
		background: #8e44ad;
		color:#fff;
	}
	p{
		width: 60%;
		text-align: left;
		margin: auto;

	}
	h1{
		width: 60%;
		text-align: left;
		margin: auto;

	}
	p.attention {
		color :#f1c40f;
		font-family: sans-serif;
		margin-top: 5vh;
	}
	a{
		text-decoration: none;
		cursor: pointer;
		color: inherit;
	}
</style>
<body>
	<div>
		<h1>Dear Farima,</h1>
		<p>
			 We're getting close to your birthday. I was looking for a new way to say happy birthday. Finally, I decided to create this mini-game for you. This game is about mysteries and puzzles. I know you love them. Actually you should. Because every mystery is related to one of your gifts. If you solve it, you will get that gift and if you don't, you will loose it and all the other gifts of <a href="/clocks">next levels</a>. It’s time to prove yourself. This birthday will be very challenging and different. I hope I can make it special for you.<br>
Bests<br>
Your lover<br>
		</p>
		<p class="attention">
			ATTENTION : Don’t cheat and Play fairly. if I find out you cheated you will loose all of your gifts. And you know that I will find out.<br> Happy birthday dear love. 
		</p>
	</div>
</body>
</html>